## -*- mode: scala -*-
package reactivemongo.api.bson

import com.github.ghik.silencer.silent

/**
 * Evidence that `T` can be serialized as a BSON document.
 */
@silent sealed trait DocumentClass[T]

/** See [[DocumentClass]] */
object DocumentClass {
  private val unsafe = new DocumentClass[Nothing] {}

  /** Un-checked factory */
  @silent
  @SuppressWarnings(Array("AsInstanceOf"))
  def unchecked[T] = unsafe.asInstanceOf[DocumentClass[T]]

  /**
   * Implicit evidence of `DocumentClass` for `T`
   * if `T` is a case class or a sealed trait.
   */
#if( $scalaVersion.indexOf("2.") == 0 )
  @SuppressWarnings(Array("NullParameter"))
  implicit def evidence[T]: DocumentClass[T] = macro MacroImpl.documentClass[T]
#else
  inline given evidence[T]: DocumentClass[T] =
    ${ reactivemongo.api.bson.MacroImpl.documentClass[T] }
#end
}
